:root {
  --bright-navy-blue: hsl(214, 57%, 51%);
  --blue-ncs: hsl(56, 73%, 41%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #121212;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background: #121212;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-menu a {
  color: #f9f9f9;
  padding: 10px 20px;
}

.nav-menu a:hover {
  color: yellow;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 250px 0;
}

.main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/imgs/bandeira.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(0.2);
}

.main-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: #f9f9f9;
}

.main h1 {
  font-size: 60px;
  color: yellow;
}

.partidos {
  display: grid;
  grid-column: 1fr;
  justify-content: center;
  padding: 80px 0;
  gap: 40px;
}

.partidos-title {
  font-size: 32px;
  color: #121212;
  text-align: center;
}

.partidos-disp {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.partidos-ind {
  display: grid;
  background: #eeeeee;
  padding: 20px 50px;
  border-radius: 20px;
}

.partidos-ind h3 {
  font-size: 26px;
}

.partidos-ind p {
  font-size: 14px;
}

.partidos-ind-infos {
  display: flex;
  align-items: center;
  gap: 5px;
}

.partidos-ind-sigla {
  font-weight: bold;
  text-transform: uppercase;
}

.botao {
  display: inline-block;
  max-width: max-content;
  background: #121212;
  color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.botao:hover {
  color: yellow;
  transition: 0.5s;
}

.footer {
  background: #121212;
  display: flex;
  place-content: center;
  padding: 50px 0;
}

.footer p {
  color: #f9f9f9;
  font-size: 12px;
}

/* LOGIN PAGE */

.bg-login {
  background: var(--white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: var(--cultured);
  border-radius: 16px;
  margin: 16px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.login-title {
  background: var(--blue-ncs);
  padding: 24px;
  text-align: center;
  color: var(--cultured);
}

.login-form {
  padding: 18px;
}

.login-input {
  margin-bottom: 8px;
  padding-bottom: 18px;
  position: relative;
}

.login-input label {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--black);
}

.login-input input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid var(--gainsboro);
}

.login-form button {
  background: var(--blue-ncs);
  color: var(--cultured);
  width: 100%;
  border-radius: 14px;
  padding: 10px;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
}

.login-form button:hover {
  background: green;
}

/* CADASTRO */

.cadastro-bg {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.cadastro-bg h1 {
  font-size: 48px;
  color: #121212;
}

.cadastro-escolha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.cadastro-partido a {
  background: #121212;
  color: #f9f9f9;
  font-size: 28px;
  padding: 10px 20px;
  border-radius: 10px;
}

.cadastro-partido a:hover {
  color: yellow;
  transition: 0.3s;
}

/* CADASTRO DE PARTIDO */

.form-title {
  margin-bottom: 20px;
}

.bg-login-cadastro {
  background: var(--white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.login-input label {
  font-weight: 600;
}
