* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #121212;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background: #121212;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-menu a {
  color: #f9f9f9;
  padding: 10px 20px;
}

.nav-menu a:hover {
  color: yellow;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 250px 0;
}

.main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/public/imgs/bandeira.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(0.2);
}

.main-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: #f9f9f9;
}

.main h1 {
  font-size: 60px;
  color: yellow;
}

.partidos {
  display: grid;
  grid-column: 1fr;
  justify-content: center;
  padding: 50px 0;
  gap: 40px;
}

.partidos-title {
  font-size: 32px;
  color: #121212;
  text-align: center;
}

.partidos-disp {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.partidos-ind {
  display: grid;
  background: #eeeeee;
  padding: 20px 35px;
  border-radius: 20px;
}

.partidos-ind h3 {
  font-size: 26px;
}

.partidos-ind p {
  font-size: 14px;
}

.botao {
  display: inline-block;
  max-width: max-content;
  background: #121212;
  color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.botao:hover {
  color: yellow;
  transition: 0.5s;
}
